{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<main class="container mt-3 pb-5">
    <div class="row mt-5">
        <div class="col-12 col-lg-2">
            <div class="pl-3 mb-5">
                <p><a href="javascript:history.go(-1)">Назад</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-12">
            <section class="pl-3">
                <a href="{% url 'company_cart' company_id=vacancies_list.company.id %}"><img src="{{MEDIA_URL}}{{ vacancies_list.company.logo.url }}" width="130" height="80" alt=""></a>
                <div class="d-flex align-items-baseline align-content-baseline">
                    <h1 class="h2 mt-4 font-weight-bold">{{ vacancies_list.title }}</h1>
                    <p class="m-0 pl-3">{{ vacancies_list.salary_min }} – {{ vacancies_list.salary_max }} Р</p>
                </div>
                <p class="mt-2">{{ vacancies_list.skills }}</p>
                <p class="text-muted mb-4">{{ vacancies_list.company.name }} ({{ vacancies_list.company.employee_count }} человек), {{ vacancies_list.company.location }} или удаленно</p>
                <div style="line-height: 1.8;">
                    <p>{{ vacancies_list.description|safe }}
                    </p>
                </div>
                {% if request.user.is_authenticated %}
                {% crispy form %}
                {% else %}
                <button class="col-4 btn btn-lg btn-block"><a href="{% url 'login_user' %}">Для отклика на вакансию нужно авторизоваться</a></button>
                {% endif %}
            </section>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock %}